{% extends 'blank.html' %}
{% load humanize %}
{% load static %}

 {% block content %}

                        <div class="page-separator">
                        <div class="page-separator__text">Detalhes</div>
                        </div>

                        <p class="card-subtitle text-70 mb-16pt mb-lg-8">Endereço: <b>{{imovel.endereco}}</b></p>
                        <p class="card-subtitle text-70 mb-16pt mb-lg-8">Entrega: <b>{{imovel.entrega}}</b></p>
                        <p class="card-subtitle text-70 mb-16pt mb-lg-8">Condomínio: <b>{{imovel.condominio}}</b></p>
                        <p class="card-subtitle text-70 mb-16pt mb-lg-8">Observações: <b>{{imovel.comentarios}}</b></p>

                       <div class="page-separator">
                        <div class="page-separator__text">Tabela de valores</div>
                        </div>

                        <div class="card mb-lg-32pt">
                            <div class="table-responsive"
                                 data-toggle="lists"
                                 data-lists-sort-by="js-lists-values-from"
                                 data-lists-sort-desc="true"
                                 data-lists-values='["js-lists-values-name", "js-lists-values-status", "js-lists-values-policy", "js-lists-values-reason", "js-lists-values-days", "js-lists-values-available", "js-lists-values-from", "js-lists-values-to"]'>

                                <table class="table mb-0 thead-border-top-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Estágio da Obra
                                                 </a>
                                            </th>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Metragem do Terreno
                                                 </a>
                                            </th>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Metragem da Casa
                                                 </a>
                                            </th>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Valor
                                                 </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="list"
                                           id="leaves">
                                          <tr>
                                            <td>
                                                <small class="js-lists-values-policy text-50">{{imovel.get_estagio_da_obra_display}}</small>
                                            </td>
                                            <td>
                                                <small class="js-lists-values-policy text-50">{{imovel.metragem_do_terreno}} m²</small>
                                            </td>
                                            <td>
                                                <small class="js-lists-values-policy text-50">{{imovel.metragem_da_casa}} m²</small>
                                            </td>
                                            <td>
                                              
                                                <small class="js-lists-values-policy text-50">R$ {{imovel.valor|intcomma}}</small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-body bordet-top text-right">
      15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
    </div> -->

                        </div>

                        <div class="page-separator">
                        <div class="page-separator__text">Mídias de Marketing</div>
                        </div>


                        <div class="card mb-lg-32pt">
                            <div class="table-responsive"
                                 data-toggle="lists"
                                 data-lists-sort-by="js-lists-values-from"
                                 data-lists-sort-desc="true"
                                 data-lists-values='["js-lists-values-name", "js-lists-values-status", "js-lists-values-policy", "js-lists-values-reason", "js-lists-values-days", "js-lists-values-available", "js-lists-values-from", "js-lists-values-to"]'>

                                <table class="table mb-0 thead-border-top-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Nome
                                                 </a>
                                            </th>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Tipo
                                                 </a>
                                            </th>
                                            <th style="width: 48px;">
                                                <a href="javascript:void(0)"
                                                   class="sort"
                                                   data-sort="js-lists-values-to">
                                                   Link
                                                 </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="list"
                                           id="leaves">

                                            {% for midia in midias %}
                                {% if midia.tipo == 1 or midia.tipo == 3 %}
                                <tr>
                                  <td>    
                                      <small class="js-lists-values-policy text-50">{{midia.nome}}</small>
                                  </td>
                                  <td>    
                                      <small class="js-lists-values-policy text-50">{{midia.get_tipo_display}}</small>
                                  </td>
                                  <td>
                                    <small class="js-lists-values-policy text-50"><a href="{%firstof midia.link%}"><button type="button" class="btn btn-accent">Acessar</button></a></small>
                                  </td>
                                </tr>
                                {% elif midia.tipo == 2 or midia.tipo == 4%}
                                <tr>
                                  <td>    
                                      <small class="js-lists-values-policy text-50">{{midia.nome}}</small>
                                  </td>
                                  <td>    
                                      <small class="js-lists-values-policy text-50">{{midia.get_tipo_display}}</small>
                                  </td>
                                  <td>    
                                      <small class="js-lists-values-policy text-50"><a href="{%firstof midia.arquivo.url%}"><button type="button" class="btn btn-accent">Baixar</button></a></small>
                                  </td>
                                </tr>
                                {% endif %}
                                {% endfor %}

                                            

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-body bordet-top text-right">
      15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
    </div> -->

                        </div>

{% endblock %}

{% block title %} {{imovel}} {% endblock %}

{% block sidebar %}
    <div class="sidebar-heading">Imóveis</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                   data-toggle="collapse"
                   href="#dashboards_menu">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                    Empreendimentos
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent"
                    id="dashboards_menu">
                    {% for empreendimento in empreendimentos %}
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/empreendimento/{{empreendimento.id}}/">
                            <span class="sidebar-menu-text">{{empreendimento.nome}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="sidebar-heading">Imóveis</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button js-sidebar-collapse"
                   data-toggle="collapse"
                   href="#enterprise_menu">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                    Casas
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent"
                    id="enterprise_menu">
                    {% for casa in casas %}
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/casa/{{casa.id}}/">
                            <span class="sidebar-menu-text">{{casa.nome}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}